.table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.table tr{
    line-height: 0;
}
table, tr, td {
    border-collapse: collapse;
    padding: 0;
}


.menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.abaWin{
    text-align: center;
    background-color: black;
    width: 30%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    color:white;
}